@page
@model FinalAssigenment.Pages.CommandSendModel
@{
    ViewData["Title"] = "搬送指示送信";
}

<div id="page-command-send" class="page-container">
    <div id="serverStopOverlay" class="card-img-overlay hidden">
        <div class="overlay-text">サーバー停止中</div>
    </div>
    <h1>搬送指示送信</h1>

    <div class="input-row">
        <label>キャリアID：</label>
        <input type="text"
               id="carrierIdInput"
               class="input-field"
               placeholder="CAR000001">
    </div>

    <div class="input-row">
        <label>保管設備：</label>
        <select id="shelfIdSelect" class="input-field">
            <option value="">選択してください</option>
        </select>
    </div>

    <div class="result-title">
        結果表示
    </div>

    <div id="resultArea" class="result-box"></div>

    <div class="button-row">
        <button id="btn-inbound" class="btn-inbound">
            入庫
        </button>

        <button id="btn-outbound" class="btn-outbound">
            出庫
        </button>
    </div>

   

    <div id="command-equip-status"></div>

    <button class="back-button"
            onclick="location.href='/'">
        メニューへ戻る
    </button>

</div>