@page
@model FinalAssigenment.Pages.EqpStateModel
@{
    ViewData["Title"] = "保管状態";
}

<div class="page-container">
    <h1>保管状態</h1>

    <div id="equipment-status" class="status-card-area">
    </div>

    <a class="back-button" href="/">メニューへ戻る</a>
</div>

<!-- サーバー停止オーバーレイ -->
<div id="serverStopOverlay" class="card-img-overlay hidden">
    <div class="overlay-text">サーバー停止中</div>
</div>
