@page
@model FinalAssigenment.Pages.InventoryModel
@{
    ViewData["Title"] = "在庫一覧";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/css/site.css" />

    <title>在庫一覧画面</title>
</head>

<body>

    <!-- サーバー停止オーバーレイ -->
    <div id="serverStopOverlay" class="card-img-overlay hidden">
        <div class="overlay-text">サーバー停止中</div>
    </div>

    <!-- 在庫一覧画面 -->
    <div id="screen-inventory" class="modal-fullscreen hidden">
        <h2>在庫一覧</h2>

        キャリアID検索:<input id="search-carrier" type="text">

        <div id="inventory-list"></div>

        <button id="btn-back">戻る</button>
    </div>

    <script src="js/site.js"></script>
</body>