@page
@model FinalAssigenment.Pages.ReportModel
@{
    ViewData["Title"] = "出庫搬送完了報告受信・払出完了報告";
}

<div id="page-outbound-complete" class="page-container">

    <h1>出庫完了報告</h1>

    <div id="outbound-complete-list"></div>

    <button id="btn-back" class="back-button">戻る</button>

</div>
