@page
@model FinalAssigenment.Pages.ReportModel
@{
    ViewData["Title"] = "出庫搬送完了報告受信";
}

<div id="page-outbound-report" class="page-container">

    <h1>出庫完了報告</h1>

    <div id="outbound-report-list">
    </div>

    <button class="back-button"
            onclick="location.href='/'">
        メニューへ戻る
    </button>

</div>
